@import url('https://fonts.googleapis.com/css2?family=Bigelow+Rules&family=Wire+One&display=swap');

:root {
    background-color: white;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 62.5%;
    font-family: 'Wire One', sans-serif;
}

h1 {
    font-size: 5.4rem;
    color: black;
    margin-bottom: 5rem;
    font-family: 'Bigelow Rules', sans-serif;
    text-align: center;

}

h2 {
    font-size: 3.2rem;
    margin-bottom: 4rem;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 80rem;
    margin: 0 auto;
    padding: 2rem;
}

/* center */

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-center {
    justify-content: center;
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.text-center {
    text-align: center;
}

.hidden {
    display: none;
}

/*buttons*/

.btn {
    font-size: 3.2rem;
    font-family: 'Bigelow Rules', sans-serif;
    padding: 2rem 0;
    width: 30rem;
    text-align: center;
    margin-bottom: 1rem;
    text-decoration: none;
    color: black;
    background-color: #d2d2d2;
    border-radius: 4px;
}

.btn:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 black;
    transition: transform 150ms;
    transform: scale(1.03);
}

.btn[disabled]:hover {
    cursor: not-allowed;
    box-shadow: none;
    transform: none;
}

/* Font awesome icons */


.fa-play {
    font-size: 2.5rem;
    margin-left: 1rem;
}

.fa-crown {
    font-size: 2.5rem;
    margin-left: 1rem;
}

/* Game Styling */

body {
    color: black;
    font-size: 15rem;
}

.choice-container {
    display: flex;
    margin-bottom: 0.8rem;
    width: 100%;
    border-radius: 4px;
    background: #d2d2d2;
    font-size: 3rem;
    min-width: 80rem;
}

.choice-container:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 black;
    transition: transform 100ms;
    transform: scale(1.01);

}

.choice-prefix {
    padding: 2rem 2.5rem;
    color: black;
}

.choice-text{
    padding: 2rem;
    width: 100%;
}