@import url('https://fonts.googleapis.com/css2?family=Bigelow+Rules&family=Lato:ital,wght@1,100&family=Wire+One&display=swap');

:root {
    background-color: white;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 62.5%;
    font-family: 'Wire One', sans-serif;
}

h1 {
    font-size: 5.4rem;
    color: black;
    margin-bottom: 5rem;
    font-family: 'Bigelow Rules', sans-serif;
    
}

h2 {
    font-size: 3.2rem;
    margin-bottom: 4rem;
}

.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 80rem;
    margin: 0 auto;
    padding: 2rem;
}